__Assignment Day 6__

__Question 1__

Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only. 

Input Format: The first line of the input contains an email address. 

Output Format: Print the company name in single line.

Example; Input: john@google.com Output: google

In [1]:
#question 1

def company_name(email):
    e = email.split("@")[-1]
    r = e[:-4]
    print("company_name=",r)
    
company_name(str(input("enter the string:")))

enter the string:john@google.com
company_name= google

__Question 2:__

Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

Input Format:
The first line of input contains words separated by the comma.


Output Format:
Print the sorted words separated by the comma.


Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [2]:

items=[n for n in input().split(',')]
items.sort()
print(','.join(items))

without,hello,bag,world
bag,hello,without,world

__question 3__


Create your own Jupyter Notebook for Sets. Reference link: https://www.w3schools.com/python/python_sets.asp

__Set__

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

examples:

In [3]:
#creating a set.
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [4]:
#printing a set.
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

In [5]:
#checking a item is present in list.
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [6]:
#adding an element.
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

In [7]:
#updating a set
thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'orange', 'cherry', 'grapes', 'apple', 'mango', 'banana'}

In [8]:
#length of a set
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [9]:
#removing an element
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [10]:
#discarding an element
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [11]:
#popping out an element
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'cherry', 'apple'}

In [12]:
#clearing the set
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [13]:
#deleting the set
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset) #error occurs beacuse we have deleted the thisset in step3

NameError: name 'thisset' is not defined

In [16]:
#union of sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

In [17]:
#updating two sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'a', 'b'}

In [18]:
#alternate way for creating a set
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

__Question 4:__

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates. 

Input Format: The first line contains n-1 numbers with each number separated by a space.

Output Format: Print the missing number Example: Input:1 2 4 6 3 7 8 Output:5 Explanation: In the above list of numbers 5 is missing and hence 5 is the input

In [14]:
def find_missing(list1):
    for x in range(list1[0],list1[-1]+1):
        if x not in list1:
            return x

list1=[1,2,4,6,3,7,8]
print(find_missing(list1))

5

__Question 5:__

With a given list L, write a program to print this list L after removing all duplicate values with original order reserved. 

Example: If the input list is 12 24 35 24 88 120 155 88 120 155 Then the output should be 12 24 35 88 120 155 Explanation: Third, seventh and ninth element of the list L has been removed because it was already present.

Input Format: In one line take the elements of the list L with each element separated by a space. 

Output Format: Print the elements of the modified list in one line with each element separated by a space. Example: Input: 12 24 35 24 Output: 12 24 35

In [15]:
test_list = [12,24,35,24,88,120,155,88,120,155] 
print ("The original list is : " +  str(test_list)) 
  

res = [] 
for i in test_list: 
    if i not in res: 
        res.append(i) 
  
 
print ("The list after removing duplicates : " + str(res))

The original list is : [12, 24, 35, 24, 88, 120, 155, 88, 120, 155]
The list after removing duplicates : [12, 24, 35, 88, 120, 155]